@keyframes wave {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
.MuiSkeleton-wave {
  animation: wave 1.5s infinite linear;
}
/* SkeletonAnimations.css */

@media (max-width: 600px) {
  .video-skeleton {
    width: 100%;
  }
}
